#mm-wrapper .post-patch-box {
    display: flex;
    gap: 16px;
    align-items: end;

    border-radius: 8px;
    border: 1px solid rgba(238, 238, 238, 1);
    padding: 24px;
    background-color: white;
}

#mm-wrapper .top {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#mm-wrapper .main {
    display: flex;
    flex-direction: column;

    border-radius: 8px;
    border: 1px solid rgba(238, 238, 238, 1);
    background-color: white;
}

#mm-wrapper .bottom {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

#mm-wrapper .post-patch-input-container {
    flex: 1;
    display: flex;
    gap: 20px;

}

#mm-wrapper .input-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

#mm-wrapper .input-label {
    font-size: 16px;
    font-weight: 700;
    color: rgba(64, 64, 64, 1);
}

#mm-wrapper .td-tool-number,
#mm-wrapper .td-name,
#mm-wrapper .td-count {
    width: 100px;
    text-align: center;
}

#mm-wrapper .td-purpose {
    width: 300px;
    text-align: center;
}

#mm-wrapper  .tr .td-purpose {
    text-align: left;
}